
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.fill-div {
 	width: 100vw;
 	position: relative;
 	margin-left: -50vw;
 	left: 50%;
 	background-color: #191919;
 	padding: 3px;
}

.line{
	width: 100vw;
 	position: relative;
 	margin-left: -50vw;
 	left: 50%;
 	background-color: #632e04;
 	height: 4px;
}

.form-submit-button {
	background: red;
	color: white;
	height: 40px;
	width: 90px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	border-radius: 20px;
}

.form-submit-button:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
	height: 40px;
	width: 100px;
}

h1 {
	text-align: center;
	vertical-align: center;
	line-height: 90px;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: white;
}

h2 {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	color: yellow;
}

body {
	background-color: #db5e16;
}

p {
	text-align: center;
	vertical-align: center;
	font-family: 'Roboto';
	color: white;
	font-size: 20px;
	padding-right: 200px;
	padding-left: 200px;
}

figcaption {
	text-align: center;
	vertical-align: center;
	font-family: 'Oswald';
	color: white;
	font-size: 25px;
	padding-right: 200px;
	padding-left: 200px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 8px solid #632e04;
	border-radius: 25%;
}

form {
	color: white;
	text-align: center;
	font-size: 30px;
	color: red;
	font-family: 'Oswald';
}

a {
	color: white;
	font-size: 30px;
	color: red;
	font-family: 'Oswald';
}